.container {
  background: var(--blue);
  height: 100vh;

  display: flex;
  position: relative;

  overflow: hidden;
}

.container > img {
  height: 90%;
}

.container section {
  align-self: center;
  position: absolute;

  right: 15%;  

  width: 420px; 

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container section > img {
  margin-bottom: 4rem;
  height: 4rem;

}

.container section h1 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: var(--white);
}

.container section h1 + div {
  display: flex;
  align-items: center;
  gap: 1rem;

  width: 320px;
  height: 3.8rem;

  line-height: 1.5;
  color: var(--blue-text);
  font-weight: 600;
  font-size: 1rem;

  margin-bottom: 1.5rem;
}

@media screen and (max-width: 960px) {
  .container section {
    right: 50%;
    transform: translateX(50%);
  }
}

@media screen and (max-width: 460px) {
  .container section {
    width: 95%;
  }

  .container section h1 {
    margin-bottom: 3rem;
  }

  .container section h1 + div {
    margin-bottom: 3rem;
  }
}


