.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}

@media screen and (max-width: 660px) {
  .container section {
    grid-template-columns: 90%;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    padding: 2rem 0;
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding: 2.5rem 1rem;
  }

  .container section {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    padding: 2rem 0;
  }
}
